<!DOCTYPE html>
<html>
  <head>
    <title>Abascout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %>" role="alert"><%= message %></div>
  <%end%>

  <nav style="background-color: purple;" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <div class="navbar-header">
              <a href="/pages/home">
              <img style="height: 50px; width: 65px;" alt="Brand" src="https://upload.wikimedia.org/wikipedia/en/thumb/1/16/Association_des_Scouts_du_Rwanda_2002-2014.svg/140px-Association_des_Scouts_du_Rwanda_2002-2014.svg.png">
          </a>
    </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

            <li><a style="color: white;" class="white" href="/posts">News</a></li>
            <li class="dropdown">
              <a style="color: white;" href="#" class="white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">What Is Scouting<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/pages/mission">Mission & Vision<span class="sr-only">(current)</span></a></li>
                <li><a href="/pages/law">Law and Promise<span class="sr-only">(current)</span></a></li>
                <li><a href="/pages/program">Youth Program<span class="sr-only">(current)</span></a></li>
                <li role="separator" class="divider"></li> 
                <li><a href="/pages/about">About RSA<span class="sr-only">(current)</span></a></li>
                <li><a href="/pages/contacts">Contact Us</a></li>
              </ul>
            </li>
          </ul>

          <ul  style="color: white;" class="nav navbar-nav navbar-right">
            <li class= "white"><a style="color: white;" href="/contacts">Contacts</a></li>
            <li class= "white"><a style="color: white;" href="/discussions">Discussions</a></li>
            <li class= "white"><a style="color: white;" href="https://rwandascoutshop.herokuapp.com/" target="_blank">Shop</a></li>
            <li class= "white"><a style="color: white;" href="/troops">Troops</a></li>
            <li class="dropdown">
            <a style="color: white;" href="#" class="white" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
                <% if current_user%>
                  <%= current_user.email%>
                <% else %>
                  Log In/Sign Up
                <% end %>
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
              <% if current_user%>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <li><a href="/users/sign_in">Login</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/users/sign_up">Signup</a></li>
              <% end %>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
  </nav>
  </div>
  <br>
      <br>
      <br>

    <%= yield %>
  </body>
</html>
